.me-content {
    .basic-info {
        background: url('/img/me-background.jpeg');
        background-size: 100%;
        padding-top: 60px;
        
    }
    .basic-info-desp {
        padding-top: 10px;
        font-size: 1.1em;
        color: white;

        
    }
    .bouns-info{
    	.input-label {
            color: gray;
        }

    }
    .avatar {
        width: 100%;
        height: 100%;
    }
}
