<ion-view class="tushuo-content" title="图说" hide-nav-bar="true">
    <div class="tabs-striped tabs-top tabs-background-dark tabs-color-light">
        <div class="tabs">
            <a class="tab-item" ng-class="{active:state==='hot'}" ng-click="changeState('hot')" href="#">
                <strong>最热</strong>
            </a>
            <a class="tab-item" ng-class="{active:state==='latest'}" ng-click="changeState('latest')" href="#">
                <strong>最新</strong>
            </a>
            <a class="tab-item" ng-class="{active:state==='nearby'}" ng-click="changeState('nearby')" href="#">
                <strong>附近</strong>
            </a>
        </div>
    </div>
    <ion-content class="has-header">
        <div class="list card">

            <div class="item item-avatar">
                <img src="mcfly.jpg">
                <h2>Marty McFly</h2>
                <p>November 05, 1955</p>
            </div>

            <div class="item item-body">
                <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">

                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    评论
                </a>
            </div>

        </div>
        <div class="list card">

            <div class="item item-avatar">
                <img src="mcfly.jpg">
                <h2>Marty McFly</h2>
                <p>November 05, 1955</p>
            </div>

            <div class="item item-body">
                <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">

                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    评论
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>