<ion-view title="编辑信息" class="edit-me-content">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="save()">
            保存
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list bouns-info">
            <div class="item item-input">
                <span class="input-label">头像</span>
                <div >
                    <img  width="30%" ng-src="{{avatar}}" class="avatar" ng-click="changeAvatar()">
                </div>
            </div>
            <label class="item item-input">
                <span class="input-label">用户名</span>
                <input type="text" ng-model="editMeForm.username" placeholder="{{user.username}}"></input>
            </label>
            <label class="item item-input">
                <span class="input-label">签名</span>
                <input type="text" ng-model="editMeForm.sign" placeholder="{{user.sign||'暂无签名'}}"></input>
            </label>
            <label class="item item-input">
                <span class="input-label">常出没地</span>
                <input type="text" ng-model="editMeForm.site" placeholder="{{user.site||'暂未填写'}}"></input>
            </label>
        </div>
    </ion-content>
</ion-view>