<ion-view title="个人" class="me-content">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-more" ng-click="more($event)"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <div class="row basic-info">
            <div class="col col-25">
                <img ng-src="{{user.avatar|avatar:user.gender}}" class="img-circle avatar" ng-click="editUserInfo()"></img>
            </div>
            <div class="col col-75 basic-info-desp" >
                <strong ng-click="editUserInfo()">{{user.username}}</strong>
                </br>
                <i ng-click="editUserInfo()">{{user.sign||'暂无签名'}}</i>
            </div>
        </div>
        <div class="list bouns-info" ng-click="editUserInfo()">
            <label class="item item-input">
                <span class="input-label" >年龄</span>
                <div>{{user.birthday|age}}</div>
            </label>
            <label class="item item-input">
                <span class="input-label" >性别</span>
                <div>{{user.gender|gender}}</div>
            </label>
            <label class="item item-input">
                <span class="input-label" >常出没地</span>
                <div>{{user.site||'暂未填写'}}</div>
            </label>
            <label class="item item-input">
                <span class="input-label">注册时间</span>
                <div>{{user.createAt|time}}</div>
            </label>
        </div>

    </ion-content>
</ion-view>
<script id="more-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-content scroll="false">
        <div class="list">
            <a class="item" href="http://learn.ionicframework.com/" target="_blank">
              发起话题
            </a>
            <a class="item" href="http://ionicframework.com/docs/" target="_blank">
              参与话题
            </a>
            <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
              设置
            </a>
            <a class="item" href="http://ionicframework.com/submit-issue/" target="_blank">
              意见反馈
            </a>
            <a class="item" ng-click="logout()">
              退出
            </a>
        </div>
    </ion-content>
              
  </ion-popover-view>
</script>